{% extends "pages/base.html" %}

{% block extra_headers %}
<script type="text/javascript">
  $(document).ready(function() {
    // Animation speed
    var speed = 300;

    $('#monk-selection td#all').click(function() {
      setTimeout(function(){$('.part').fadeIn(speed)}, speed);
    });

    $('#monk-selection td').not('#all').each(function() {
      var part= $(this).data('part');
      if ($(part).children().size() == 0) {
        $(this).addClass('disabled');
        $(this).css('cursor', 'default');
      } else {
        $(this).click(function() {
          setTimeout(function(){$(part).fadeIn(speed)}, speed);
          $('.part').not(part).fadeOut(speed);
        });
      }
    });
  });
</script>
{% endblock extra_headers %}

{% block content %}
<div id="monk-selection">
  <table>
    <tr>
      <td id="all">All</td>
      <td data-part="#atoe">A-E</td>
      <td data-part="#ftoj">F-J</td>
      <td data-part="#ktoo">K-O</td>
      <td data-part="#ptot">P-T</td>
      <td data-part="#utoz">U-Z</td>
    </tr>
  </table>
</div>
<div id="atoe" class="part">
  <div class="monk">
    <div class="monk-pic"><img src="static/monks/Daisy.png"></div>
    <div class="monk-right">
      <h2>Daisy</h2>
      <div class="monk-desc">Daisy is a absent-minded girl who's always
        thinking about the most crazy stuff ever. Apart from not knowing the
        difference between right and left, she has the unusual ability to get
        into the worst kind of trouble without even trying. Thankfully, she
        also has the great skill to get out of the most desperate situations by
        accident. She seems quite shy and asocial but in reality she's just too
        busy dreaming about random stuff to pay attention to what is going on
        around her. Daisy is a peaceful gal who likes everything and everyone.
        Especially cupcakes. She loves cupcakes.</div>
      <div class="monk-age">Age: 19</div>
      <div class="monk-quote">Favorite quote: "Whoopsie Daisy!?"</div>
    </div>
  </div>
  <div class="monk">
    <div class="monk-pic"><img src="static/monks/Dragoslawa.png"></div>
    <div class="monk-right">
      <h2>Dragoslawa</h2>
      <div class="monk-desc">
        The evil professor Dragoslawa is plotting and scheming to rule the
        world and become the new God of the little monks.  She comes from a
        family of evil professors and has inherited her evilness from both her
        parents who tragically died in an attempt to take over the world.
        Dragoslawa loves maniacal laughter and gets all warm inside from the
        sight of fluffy baby rabbits. She's really scared of spiders (but,
        shht, don't tell anyone!) and has a deep hate for democracy.
      </div>
      <div class="monk-age">Age: 42</div>
      <div class="monk-quote">Favorite quote: "Mwahahaha!"</div>
    </div>
  </div>
</div>
<div id="ftoj" class="part">
  <div class="monk">
    <div class="monk-pic"><img src="/static/monks/Ferrell.png"></div>
    <div class="monk-right">
      <h2>Ferrell</h2>
      <div class="monk-desc">Ferrell is the self-proclaimed leader of the
        little monks. He has a tendency towards dictatorial leadership. Though
        most of the monks don't like him as a leader, no one has the guts to
        openly challenge him. He's an egocentric asshole that cannot manage to
        see the point of view of others. He is addicted to power and so he
        fears to lose it one day. He is kind of paranoia towards others that
        might be better leaders than he is, which is pretty much everyone but
        he fails to see that due to his narcissistic disposition.</div>
      <div class="monk-age">Age: 64</div>
      <div class="monk-quote">Favorite quote: "Because I said so!</div>
    </div>
  </div>
  <div class="monk">
    <div class="monk-pic"><img src="static/monks/Fred.png"></div>
    <div class="monk-right">
      <h2>Fred</h2>
      <div class="monk-desc">
        Fred is the biggest funny pants of the little monks. He likes to trick
        other people and has a particularly good sense on how and when to pull
        off a pratical joke. Strangely, he loathes other people who try to pull
        a practical joke on him. Most of the time he is faster than the others
        but when someone can trick him, he becomes annoyed and tetchy. He WILL
        take revenche one day, and the smartass who tried to trick him WILL
        regret it.<br /> Other than that, Fred is a quite enjoyable person,
        sometimes. When he has a good day. Once in a month or so. With only a
        select amount of people.
      </div>
      <div class="monk-age">Age: 23</div>
      <div class="monk-quote">Favorite quote: "Got you, [Insert degrading insult]!"</div>
    </div>
  </div>
</div>
<div id="ktoo" class="part">
  <div class="monk">
    <div class="monk-pic"><img src="static/monks/Cuddles.png"></div>
    <div class="monk-right">
      <h2>Mr. Cuddles</h2>
      <div class="monk-desc">Mr. Cuddles is the quiet and always smiling teddy
        bear of little Quinn. He has been his life companion and silent
        confidant for his whole life. Like every teddy bear he has seen a lot
        of things you wouldn't want to know. Those things may or may not
        include butt plugs.</div>
      <div class="monk-quote">Quote: "..."</div>
    </div>
  </div>
</div>
</div>
<div id="ptot" class="part">
  <div class="monk">
    <div class="monk-pic"><img src="static/monks/Quinn.png"></div>
    <div class="monk-right">
      <h2>Quinn</h2>
      <div class="monk-desc">Quinn could be described as mama's little boy.
        Although he's already 32 years old, he still acts like a child,
        whimpering and crying to get what he wants. He is used to being taken
        care of for every little pain, which turned him into a hypochondriac.
        He is also used to get food all the time, which has made him quite fat
        to say the least. He's so fond of cupcakes, that for his 18th birthday
        he asked for a bathtub filled with them and got it. He then proceeded
        to bathe in them. That was the happiest day of his life. His biggest
        fears are the "thing" in the woods and losing Mr. Cuddles. In reality,
        however, he is afraid of almost everything.</div>
      <div class="monk-age">Age: 32</div>
      <div class="monk-quote">Favorite quote: "Mommy!"</div>
    </div>
  </div>
  <div class="monk">
    <div class="monk-pic"><img src="static/monks/Randy.png"></div>
    <div class="monk-right">
      <h2>Randy</h2>
      <div class="monk-desc">Randy is... something else. She grew up in the
        little monks' rural Texas were she learned a few extreme and
        conservatives views on God. She is convinced that the current church of
        God is decaying and that it is her task to save it. She tends to forget
        what her faith is about in order to rant about how bad everything is
        going. No one really listens to her, but she doesn't care or
        notice.</div>
      <div class="monk-age">Age: 56</div>
      <div class="monk-quote">Favorite quote: "The end is near!!!"</div>
    </div>
  </div>
  <div class="monk">
    <div class="monk-pic"><img src="/static/monks/Sally.png"></div>
    <div class="monk-right">
      <h2>Sally</h2>
      <div class="monk-desc">Sally is very smart; no one doubts that. But she's
        the kind of smart that is socially and emotionally awkward. She does
        not realize monks have feelings, because she does not have any, and is
        prone to hurt other monks because she's sure she's right. She's the
        right hand of Ferrell and the real leader, the one behind all crazy
        ideas. But, sssht, don't tell Ferrell!</div>
      <div class="monk-age">Age: 38</div>
      <div class="monk-quote">Favorite quote: "You are wrong."</div>
    </div>
  </div>
  <div class="monk">
    <div class="monk-pic"><img src="static/monks/Salvador.png"></div>
    <div class="monk-right">
      <h2>Salvador</h2>
      <div class="monk-desc">Salvador is, old. Very old. He claims to be 105
        year old, but seems to be living since forever. He's convinced that
        his age leads to more wisdom and that the other little monks have to
        respect him for that. Unfortunately, his wisdom is limited unlike his
        egoism.</div>
      <div class="monk-age">Age: 105</div>
      <div class="monk-quote">Favorite quote: "I'm senior, you know!"</div>
    </div>
  </div>
</div>
<div id="utoz" class="part">
</div>
{% endblock content %}
