{% extends "pages/base.html" %}

{% block content %}
<div class="bordered">
  <h1>Who the heck am I?</h1>

  <p>Hi there! I'm Myrjam, a creative flibbertigibbet from Belgium. Other than that, I am a pretty average 20-something who likes kitties and cupcakes.</p>
  <p>This webcomic updates twice a week, on Wednesdays and Fridays. To stay informed about updates, follow The Little Monks on <a href="https://www.facebook.com/pages/The-Little-Monks/466458066741969" rel="_blank">Facebook</a>, <a href="https://twitter.com/TheLittleMonks" rel="_blank">Twitter</a> or <a href="https://plus.google.com/communities/117381000910337897773" rel="_blank">Google+</a>.</p>
  <p>The inspiration for this story comes from <a href="http://www.raphtillie.fr" rel="_blank">Raphaël Tillie</a>, a great 3D and VFX artist with an excellent sense of humor (hurry, go visit his website!). I do not claim that the basic storyline is originally mine but the webcomic, the characters and their stories are developed according to my own ideas and have a lot of added detail.</p>
  <p>If you want to have a better understanding of my sense of humor, go visit those other slightly less great (but still excellent) webcomics:</p>
  <p><a href="http://www.channelate.com" rel="_blank">Channelate</a></p>
  <p><a href="http://www.explosm.com/comics" rel="_blank">Cyanide and Happiness</a></p>
  <p><a href="http://www.oglaf.com" rel="_blank">Oglaf (NSFW)</a></p>
  <p><a href="http://www.questionablecontent.net" rel="_blank">Questionable Content</a></p>
  <p><a href="http://www.amultiverse.com" rel="_blank">Scenes from a Multiverse</a></p>
  <p><a href="http://www.theoatmeal.com" rel="_blank">The Oatmeal</a></p>
  <p><a href="http://www.giantitp.com/comics/oots.html" rel="_blank">The Order of the Stick</a></p>
  <p><a href="http://www.wormworldsaga.com" rel="_blank">Wormworld Saga</a></p>
  <p><a href="http://www.xkcd.com" rel="_blank">xkcd</a></p>
</div>
{% endblock content %}
