{% extends "pages/base.html" %}

{% block extra_headers %}
<script type="text/javascript">
  $(document).ready(function() {
    // Animation speed
    var speed = 300;

    $('#monk-selection td#all').click(function() {
      setTimeout(function(){$('.part').fadeIn(speed)}, speed);
    });

    $('#monk-selection td').not('#all').each(function() {
      var part= $(this).data('part');
      if ($(part).children().size() == 0) {
        $(this).addClass('disabled');
        $(this).css('cursor', 'default');
      } else {
        $(this).click(function() {
          setTimeout(function(){$(part).fadeIn(speed)}, speed);
          $('.part').not(part).fadeOut(speed);
        });
      }
    });
  });
</script>
{% endblock extra_headers %}

{% block content %}
<div id="monk-selection">
  <table>
    <tr>
      <td id="all">All</td>
      <td data-part="#atoe">A-E</td>
      <td data-part="#ftoj">F-J</td>
      <td data-part="#ktoo">K-O</td>
      <td data-part="#ptot">P-T</td>
      <td data-part="#utoz">U-Z</td>
    </tr>
  </table>
</div>
<div id="atoe" class="part">
	<div class="monk">
		<div class="monk-pic"><img src="static/monks/Daisy.png"></div>
		<div class="monk-right">
			<h2>Daisy</h2>
			<div class="monk-desc">Daisy is a absentminded girl who's always thinking about the most crazy stuff ever. Apart from not knowing the difference between right and left, she has the unusual ability to get into the worst kind of trouble without even trying. Thankfully, she also has the great skill to get out of the most desperate situations by accident. She seems quite shy and asocial but in reality she's just too busy dreaming about random stuff to pay attention to what is going on around her. Daisy is a peaceful gal who likes everything and everyone. Especially cupcakes. She loves cupcakes.</div>
			<div class="monk-age">Age: 19</div>
			<div class="monk-quote">Favorite quote: "Whoopsie Daisy!?"</div>
		</div>
	</div>
</div>
<div id="ftoj" class="part">
  <div class="monk">
    <div class="monk-pic"><img src="/static/monks/Ferrell.png"></div>
    <div class="monk-right">
      <h2>Ferrell</h2>
      <div class="monk-desc">Ferrell is the self-proclaimed leader of the little monks.He has a tendency towards dictatorial leadership. Though most of the monks don't like him as a leader, no one has the guts to openly challenge him. He's an egocentric asshole that cannot manage to see the point of view of others. He is addicted to power and so he fears to lose it one day. He is kind of paranoia towards others that might be better leaders than he is. Which is pretty much everyone but he fails to see that due to his narsistic disposition.</div>
      <div class="monk-age">Age: 64</div>
      <div class="monk-quote">Favorite quote: "Because I said so!</div>
    </div>
  </div>

</div>
<div id="ktoo" class="part">

</div>
<div id="ptot" class="part">
  <div class="monk">
    <div class="monk-pic"><img src="/static/monks/Sally.png"></div>
    <div class="monk-right">
      <h2>Sally</h2>
      <div class="monk-desc">Sally is very smart, no one doubts that. But she is the kind of smart that is socially and emotionally awkward. She does not realize monks have feelings, because she does not have any, and is prone to hurt other monks because she is sure she is right. She is the right hand of Ferrell and the real leader, the one behind all crazy ideas. But, sssht, do not tell Ferrell!</div>
      <div class="monk-age">Age: 38</div>
      <div class="monk-quote">Favorite quote: "You are wrong."</div>
    </div>
  </div>
</div>
	<div class="monk">
		<div class="monk-pic"><img src="static/monks/Salvador.png"></div>
		<div class="monk-right">
			<h2>Salvador</h2>
			<div class="monk-desc">Salvador is, old. Very old. He claims to be 105 year old, but seems to be living since forever. He is convinced that his age leads to more wisdom and that the other little monks have to respect him for that. Unfortunately, his wisdom is limited unlike his egoism.</div>
			<div class="monk-age">Age: 105</div>
			<div class="monk-quote">Favorite quote: "I'm senior, you know!"</div>
		</div>
	</div>
</div>
<div id="utoz" class="part">
</div>
{% endblock content %}
