{% extends "base.html" %}

{% block content %}
<div class="bordered">
	<h2>Who the heck am I?</h2>

	<p>Hi there! I'm Myrjam, a creative soul from Ghent, Belgium. I was born on the 26th of January 1988 in Bruges, Belgium, and lived for a while in Saint-Antoine L'Abbaye, France and in Istanbul, Turkey. Currently, I'm working on my PhD in Personnel Psychology at the Ghent University.</p>

	<p>The inspiration for this story comes from <a href="http://www.raphtillie.fr" rel="_blank">Raphaël Tillie</a>, a great 3D and VFX artist with an excellent sense of humor (hurry, go visit his website!). I do not claim that the story is originally mine but the webcomic is developed according to my own ideas and has a lot of added detail. Since it is based on an existing story, this comic will someday have to end. However, I think I will manage to take 1000 or so comics to finish it, so enjoy while you can!</p>
</div>
{% endblock content %}
