<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html
	PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<meta http-equiv="content-type" content="application/xhtml+xml; charset=utf-8" />
		<meta name="description" content="A little web comic" />
		<meta name="keywords" content="little, monks, webcomic, Myrjam, Van de Vijver" />
		<meta name="author" content="Myrjam Van de Vijver" />
		<title>The Little Monks</title>
		<link rel="shortcut icon" type="image/x-icon" href="static/favicon.ico" />
		<link rel="icon" type="image/x-icon" href="static/favicon.ico" />
		<link rel="alternate" type="application/rss+xml" title="RSS" href="rss" />
		<link rel="stylesheet" type="text/css" href="static/style.css" />
		<script type="text/javascript" src="static/jquery.js"></script>
		<script type="text/javascript" src="static/jquery.smooth-scroll.min.js"></script>
		<script type="text/javascript" src="static/jquery.cookie.js"></script>
		<script type="text/javascript">
			$(document).ready(function(){
				$('a[rel="_blank"]').each(function(){
					$(this).click(function(e){
						window.open($(this).attr('href'));
						return false;
					});
				});
				{% block jquery %}
				{% endblock %}
			});
		</script>
	</head>
	<body>
		<div id="header"><a href="/"><img src="static/banner.png" alt="The most badass banner evah" /></a></div>
		<div id="links">
			<div id="internal">
				<a id="home" href="/"></a>
				<a id="about" href="about"></a>
				<a id="ab_monks" href="about_monks"></a>
				<a id="rss" href="rss"></a>
				<a id="contact" href="contact"></a>
			</div>
			<div id="external">
				<a href="https://www.facebook.com/pages/The-Little-Monks/466458066741969" class="facebook" title="Follow The Little Monks on Facebook"></a>
				<a href="https://twitter.com/TheLittleMonks" class="twitter" title="Follow The Little Monks on Twitter"></a>
				<a href="https://plus.google.com/u/0/communities/117381000910337897773" class="googleplus" title="Follow The Little Monks on Facebook"></a>
			</div>
		</div>
		{% block content %}
		{% endblock %}
		<div id="footer"></div>
	</body>
</html>
