<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html
  PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="application/xhtml+xml; charset=utf-8" />
    <meta name="description" content="A hilarious web comic full of suspense, monsters and... teddy bears, The Little Monks follows the perils of 100 monks setting out to build a monastery in the mountains of an unknown and thrilling planet." />
    <meta name="keywords" content="little, monks, webcomic, comic, small, funny, hilarious, monster, monsters, monk, monastery, Myrjam, Van de Vijver" />
    <meta name="author" content="Myrjam Van de Vijver" />
    <title>The Little Monks</title>
    <link rel="shortcut icon" type="image/x-icon" href="/static/favicon.ico" />
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico" />
    <link rel="alternate" type="application/rss+xml" title="RSS" href="/rss" />
    <link rel="stylesheet" type="text/css" href="/static/style.css" />
    <script type="text/javascript" src="/static/jquery.js"></script>
    {% block extra_headers %}
    {% endblock extra_headers %}
    <!-- Google Analytics -->
    <script type="text/javascript">
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-54952115-1', 'auto');
      ga('require', 'linkid', 'linkid.js');
      ga('require', 'displayfeatures');
      ga('send', 'pageview');
    </script>
    <script type="text/javascript">
      $(document).ready(function(){
        $('a[rel="_blank"]').click(function(){
          var url = $(this).get(0).href;
          ga('send', 'event', 'outbound', 'click', url);
          window.open($(this).attr('href'));
          return false;
        });
        $('a[rel="_nontrackable"]').click(function(){
          var url = $(this).get(0).href;
          ga('send', 'event', 'outbound', 'click', url, {'hitCallback':
            function () {
              document.location = url;
            }
          });
          return false;
        });
      });
    </script>
  </head>
  <body>
    <div id="header"><a href="/"><img src="/static/banner.png" alt="The most badass banner evah" /></a></div>
    <div id="links">
      <div id="internal">
        <a id="home" href="/"></a>
        <a id="about" href="/about"></a>
        <a id="ab_monks" href="/about_monks"></a>
        <a id="rss" href="/rss" rel="_nontrackable"></a>
        <a id="contact" href="/contact"></a>
      </div>
      <div id="external">
        <a href="https://www.facebook.com/pages/The-Little-Monks/466458066741969" class="facebook" title="Follow The Little Monks on Facebook"></a>
        <a href="https://twitter.com/TheLittleMonks" class="twitter" title="Follow The Little Monks on Twitter"></a>
        <a href="https://google.com/+ThelittlemonksTLM" class="googleplus" title="Follow The Little Monks on Google+"></a>
      </div>
    </div>
    {% block content %}
    {% endblock %}
    <div id="footer"></div>
  </body>
</html>
