{% extends "pages/base.html" %}

{% block extra_headers %}
<script src="static/jquery.validate.min.js" type="text/javascript" charset="utf-8"></script>
<script src="static/bday-picker.min.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" charset="utf-8">
  $(document).ready(function(){
    $('form.contact').validate();
    $('.birthday-picker').birthdaypicker({
      dateFormat: 'littleEndian',
      monthFormat: 'long'
    });
  });
</script>
{% endblock extra_headers %}

{% block content %}
<div class="bordered">
  <h1>Contact</h1>
  <p>You can contact me using the form bellow. I'll try to get back as you as soon as possible. You can also follow The Little Monks on Facebook, Twitter and Google+ using the buttons above.</p>
  <form class="contact" action="contact" method="post">
    <table>
      <tr>
        <th><label for="name">Name</label></th>
        <td><input type="text" id="name" name="name" required="required" /></td>
      </tr>
      <tr>
        <th><label for="email">Email address</label></th>
        <td><input type="text" id="email" name="email" required="required" email="email" /></td>
      </tr>
      <tr>
        <th><label>Birth date</label></th>
        <td class='birthday-picker'></td>
      </tr>
      <tr>
        <th><label for="subject">Subject</label></th>
        <td><input type="text" id="subject" name="subject" required="required" /></td>
      </tr>
      <tr>
        <th><label for="comment">Comment</label></th>
        <td><textarea id="comment" name="comment" rows="4" cols="*" required="required"></textarea></td>
      </tr>
      <tr>
        <th></th>
        <td><input type="submit" value="Send" /></td>
      </tr>
    </table>
  </form>
</div>
{% endblock content %}
