{% extends "base.html" %}

{% block content %}
<div class="bordered comic">
	<div class="upper_nav">
		<div class="first">
			{% if comic_nr != 1 %}<a href="1"><img src="static/first.png" alt="First" width="40" height="40" title="First" /></a>
			{% else %}<img class="disabled" src="static/first.png" alt="First" width="40" height="40" title="First" />{% endif %}
		</div>
		<div class="prev">
			{% if comic_nr != 1 %}<a href="{{ comic_nr|add:"-1" }}"><img src="static/previous.png" alt="Previous" width="40" height="40" title="Previous" /></a>
			{% else %}<img class="disabled" src="static/previous.png" alt="Previous" width="40" height="40" title="Previous" />{% endif %}
		</div>
		<div class="next">
			{% if comic_nr != latest %}<a href="{{ comic_nr|add:"1" }}"><img src="static/next.png" alt="Next" width="40" height="40" title="Next" /></a>
			{% else %}<img class="disabled" src="static/next.png" alt="Next" width="40" height="40" title="Next" />{% endif %}
		</div>
		<div class="last">
			{% if comic_nr != latest %}<a href="{{ latest }}"><img src="static/last.png" alt="Last" width="40" height="40" title="Last" /></a>
			{% else %}<img class="disabled" src="static/last.png" alt="Last" width="40" height="40" title="Last" />{% endif %}
		</div>
	</div>
	<h1>{{ title }}</h1>
	<div class="pic"><img src="comic/{{ comic_nr }}" alt="{{ comment }}" width="800" height="{% widthratio comic_height comic_width 800 %}" title="{{ comment }}" /></div>
	<div class="comic_share">
		<a href="http://twitter.com/share?url={{ share_url }}&amp;hashtags=TheLittleMonks,FuckingHilarious" rel="_blank"><img src="static/twitter.png" alt="Share on Twitter" width="40" height="40" title="Share on Twitter" /></a>
		<a href="http://www.facebook.com/share.php?u={{ share_url }}&amp;title={{ share_title }}" rel="_blank"><img src="static/facebook.png" alt="Share on Facebook" width="40" height="40" title="Share on Facebook" /></a>
		<a href="https://plus.google.com/share?url={{ share_url }}" rel="_blank"><img src="static/googleplus.png" alt="Share on Google+" width="40" height="40" title="Share on Google+" /></a>
		<a href="http://www.reddit.com/submit?url={{ share_url }}&amp;title={{ share_title }}" rel="_blank"><img src="static/reddit.png" alt="Share on Reddit" width="40" height="40" title="Share on Reddit" /></a>
		<a href="http://www.tumblr.com/share/link?url={{ share_url }}&amp;name={{ share_title }}" rel="_blank"><img src="static/tumblr.png" alt="Share on Tumblr" width="40" height="40" title="Share on Tumblr" /></a>
		<a href="http://digg.com/submit?&amp;jump=close&amp;url={{ share_url }}&amp;title={{ share_title }}" rel="_blank"><img src="static/digg.png" alt="Share on Digg" width="40" height="40" title="Share on Digg" /></a>
	</div>
	<div class="lower_nav">
		<div class="first">
			{% if comic_nr != 1 %}<a href="1"><img src="static/first.png" alt="First" width="40" height="40" title="First" /></a>
			{% else %}<img class="disabled" src="static/first.png" alt="First" width="40" height="40" title="First" />{% endif %}
		</div>
		<div class="prev">
			{% if comic_nr != 1 %}<a href="{{ comic_nr|add:"-1" }}"><img src="static/previous.png" alt="Previous" width="40" height="40" title="Previous" /></a>
			{% else %}<img class="disabled" src="static/previous.png" alt="Previous" width="40" height="40" title="Previous" />{% endif %}
		</div>
		<div class="next">
			{% if comic_nr != latest %}<a href="{{ comic_nr|add:"1" }}"><img src="static/next.png" alt="Next" width="40" height="40" title="Next" /></a>
			{% else %}<img class="disabled" src="static/next.png" alt="Next" width="40" height="40" title="Next" />{% endif %}
		</div>
		<div class="last">
			{% if comic_nr != latest %}<a href="{{ latest }}"><img src="static/last.png" alt="Last" width="40" height="40" title="Last" /></a>
			{% else %}<img class="disabled" src="static/last.png" alt="Last" width="40" height="40" title="Last" />{% endif %}
		</div>
	</div>
</div>
<div class="bordered comments">
	<div class="comments-title">
		<img src="static/down.png" alt="Down" style="float:left" />
		<img src="static/down.png" alt="Down" style="float:right" />
		<h1>Comments</h1>
	</div>
	<div id="disqus_thread"></div>
	<script type="text/javascript">
		var disqus_shortname = 'thelittlemonks';
		(function() {
			var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
			dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
			(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
		})();
	</script>
	<noscript><p>Please enable JavaScript to view the comments.</p></noscript>
</div>
{% endblock content %}

{% block jquery %}
				$('#disqus_thread').slideToggle();
				$('.comments-title').each(function(){
					$(this).click(function(){
						$('#disqus_thread').slideToggle(500);
						setTimeout($('html, body').animate({scrollTop: $('body').height()}, 500), 3000);
					});
				});
{% endblock jquery %}
