{% extends "base.html" %}

{% block content %}
<div class="bordered">
	<h1>The little monks' comic has come to an end!</h1>


	<div id="newreader">
		<p>Go to the <a href="/1">first page</a> if you're a new reader</p>
		<p><a href="/1"><img src="static/firstpage.png"></a></p>
	</div>

	<div id="otherwork">
		<p>Or check out Myrjam's other work at <a href="http://myrjamvdv.com" rel="_blank">myrjamvdv.com</a>, 
		or on <a href="https://twitter.com/myrjamvdv" rel="_blank">Twitter</a>, <a href="https://instagram.com/myrjamvdv" rel="_blank">Instagram</a>, or 
		<a href="https://Facebook.com/myrjamvdvart" rel="_blank">Facebook</a> @Myrjamvdv</p>
		<p><a href="http://www.myrjamvdv.com" rel="_blank"><img src="static/otherwork.png"></a></p>
	 </div>
 </div>

{% endblock content %}
