<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html
  PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="application/xhtml+xml; charset=utf-8" />
    <title>The Little Monks</title>
    <style type="text/css">
      .veld {
         border: 1px solid black;
         padding: 10px;
      }
      tr {
        border: 1px solid black;
      }
      table {
        border-collapse: collapse;
      }
  </style>
  </head>
  <body>
    <div style="float:right">
      <form method="get" action="{{ logout_url }}">
        <input type="submit" value="Logout" />
      </form>
    </div>

    <h2>Add comic</h2>
    <form enctype="multipart/form-data" method="post" action="{{ upload_url }}"><p>
      <input type="hidden" name="action" value="add" />
      Image: <input type="file" name="image" /><br />
      Title: <input type="text" name="title" /><br />
      Comment: <input type="text" name="comment" /><br />
      Margin with title: <input type="text" name="title_margin" value="0" /><br />
      RSS comment: <input type="text" name="rss_comment" /><br />
      <input type="submit" value="Add comic" />
    </p></form>
    <hr />
    <h2>Latest published comic</h2>
    <form enctype="multipart/form-data" method="post" action="/manage"><p>
      <input type="hidden" name="action" value="change_latest" />
      <input type="text" name="nr" value="{{ latest_published_nr }}" />
      <input type="submit" value="Set" />
    </p></form>
    <form enctype="multipart/form-data" method="post" action="/manage"><p>
      <input type="hidden" name="action" value="publish_one_more" />
      <input type="submit" value="Publish one more comic" />
    </p></form>
    <hr />
    <h2>Remove comic</h2>
    <form enctype="multipart/form-data" method="post" action="/manage"><p>
      <input type="hidden" name="action" value="remove" />
      <input type="submit" value="Remove last comic" />
    </p></form>
    <hr />
    <h2>Change comics</h2>
    <table>
      {% for comic in comics %}
        <tr {% if comic.nr > latest_published_nr %}style="background: lightgray"{% endif %}>
          <td>{{ comic.nr }}.</td>
          <td>{{ comic.title }}</td>
          <td class="veld">
            <form enctype="multipart/form-data" method="post" action="/manage">
              <input type="hidden" name="action" value="publish" />
              <input type="hidden" name="nr" value="{{ comic.nr }}" />
              <input type="submit" value="{{ 'Publish' if comic.nr > latest_published_nr else 'Publish till this comic' }}" />
            </form>
            <form enctype="multipart/form-data" method="post" action="/manage">
              <input type="hidden" name="action" value="rename" />
              <input type="hidden" name="nr" value="{{ comic.nr }}" />
              <input type="text" name="name" value="{{ comic.title }}" />
              <input type="submit" value="Rename" />
            </form>
            <form enctype="multipart/form-data" method="post" action="{{ upload_url }}">
              <input type="hidden" name="action" value="change_image" />
              <input type="hidden" name="nr" value="{{ comic.nr }}" />
              <input type="file" name="image" />
              <input type="submit" value="Change image" />
            </form>
            <form enctype="multipart/form-data" method="post" action="/manage">
              <input type="hidden" name="action" value="change_comment" />
              <input type="hidden" name="nr" value="{{ comic.nr }}" />
              <input type="text" name="comment" value="{{ comic.comment }}"/>
              <input type="submit" value="Change comment" />
            </form>
            <form enctype="multipart/form-data" method="post" action="/manage">
              <input type="hidden" name="action" value="change_title_margin" />
              <input type="hidden" name="nr" value="{{ comic.nr }}" />
              <input type="text" name="title_margin" value="{{ comic.title_margin }}" />
              <input type="submit" value="Change title margin" />
            </form>
            <form enctype="multipart/form-data" method="post" action="/manage">
              <input type="hidden" name="action" value="change_rss_comment" />
              <input type="hidden" name="nr" value="{{ comic.nr }}" />
              <input type="text" name="rss_comment" value="{{ comic.rss_comment }}" />
              <input type="submit" value="Change RSS comment" />
            </form>
          </td>
        </tr>
      {% endfor %}
    </table>
  </body>
</html>
