{% extends "pages/base.html" %}

{% block content %}
<div class="bordered comic">
  <div class="pic">
    <img src="/comic/{{ comic.nr }}" alt="{{ comic.comment }}" title="{{ comic.comment }}"
         width="800" height="{{ comic.height * 800 // comic.width }}"
         style="margin-top: {{ comic.title_margin }}px"/>
  </div>
  <p>
    or follow The Little Monks on
    <a href="https://www.facebook.com/pages/The-Little-Monks/466458066741969"
       class="facebook" title="Follow The Little Monks on Facebook"></a>,
    <a href="https://twitter.com/TheLittleMonks" class="twitter"
       title="Follow The Little Monks on Twitter"></a> or
    <a href="https://plus.google.com/u/0/communities/117381000910337897773"
       class="googleplus" title="Follow The Little Monks on Google+"></a>
  </p>
</div>
{% endblock content %}
